/* Write your CSS here */
* {
  font-family: 'Roboto';
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.light-box {
  height: 150px;
  width: 400px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-box {
  background-color: black;
  color: white;
  height: 150px;
  width: 400px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-btn {
  background-color: rgb(219, 219, 219);
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 4px;
}
.light-btn {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 4px;
}
